DB_HOST=localhost
DB_PORT=xxxx
DB_USERNAME=postgres
DB_PASSWORD=xxxxx
DB_DATABASE=xxxxx

# Cloudinary configuration - set these values (replace with your real values locally)
# Only API key and API secret are required to be set by you (the cloud name is helpful too)
CLOUDINARY_CLOUD_NAME=xxxxx
CLOUDINARY_API_KEY=xxxxx
CLOUDINARY_API_SECRET=xxxxxx
